<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode" style="padding: 1ex;">
    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1, labelWidth: 150">
        <div data-dojo-attach-point="dFileUpload"
            data-dojo-type="ngw-file-upload/Uploader"
            title="{{gettext 'Description file'}}"></div>

    </div>
    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1, labelWidth: 150">
        <div data-dojo-attach-point="iFileUpload"
            data-dojo-type="ngw-file-upload/Uploader"
            title="{{gettext 'Image file'}}"></div>

    </div>
</div>